/*
 * Genome Nexus API
 * This page shows how to use HTTP requests to access the Genome Nexus API. There are more high level clients available in Python, R, JavaScript, TypeScript and various other languages as well as a command line client to annotate MAF and VCF. See https://docs.genomenexus.org/api.  Aside from programmatic clients there are web based tools to annotate variants, see https://docs.genomenexus.org/tools.   We currently only provide long-term support for the '/annotation' endpoint. The other endpoints might change.
 *
 * OpenAPI spec version: 2.0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package org.genome_nexus.client;

import org.genome_nexus.ApiCallback;
import org.genome_nexus.ApiClient;
import org.genome_nexus.ApiException;
import org.genome_nexus.ApiResponse;
import org.genome_nexus.Configuration;
import org.genome_nexus.Pair;
import org.genome_nexus.ProgressRequestBody;
import org.genome_nexus.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import org.genome_nexus.client.SignalMutation;
import org.genome_nexus.client.SignalMutationFilter;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class SignalMutationControllerApi {
    private ApiClient apiClient;

    public SignalMutationControllerApi() {
        this(Configuration.getDefaultApiClient());
    }

    public SignalMutationControllerApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for fetchSignalMutationsByHgvsgGETUsingGET
     * @param variant A variant. For example 13:g.32890665G&gt;A (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call fetchSignalMutationsByHgvsgGETUsingGETCall(String variant, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/signal/mutation/hgvs/{variant}"
            .replaceAll("\\{" + "variant" + "\\}", apiClient.escapeString(variant.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call fetchSignalMutationsByHgvsgGETUsingGETValidateBeforeCall(String variant, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'variant' is set
        if (variant == null) {
            throw new ApiException("Missing the required parameter 'variant' when calling fetchSignalMutationsByHgvsgGETUsingGET(Async)");
        }
        

        com.squareup.okhttp.Call call = fetchSignalMutationsByHgvsgGETUsingGETCall(variant, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Retrieves SignalDB mutations by hgvgs variant
     * 
     * @param variant A variant. For example 13:g.32890665G&gt;A (required)
     * @return List&lt;SignalMutation&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<SignalMutation> fetchSignalMutationsByHgvsgGETUsingGET(String variant) throws ApiException {
        ApiResponse<List<SignalMutation>> resp = fetchSignalMutationsByHgvsgGETUsingGETWithHttpInfo(variant);
        return resp.getData();
    }

    /**
     * Retrieves SignalDB mutations by hgvgs variant
     * 
     * @param variant A variant. For example 13:g.32890665G&gt;A (required)
     * @return ApiResponse&lt;List&lt;SignalMutation&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<SignalMutation>> fetchSignalMutationsByHgvsgGETUsingGETWithHttpInfo(String variant) throws ApiException {
        com.squareup.okhttp.Call call = fetchSignalMutationsByHgvsgGETUsingGETValidateBeforeCall(variant, null, null);
        Type localVarReturnType = new TypeToken<List<SignalMutation>>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Retrieves SignalDB mutations by hgvgs variant (asynchronously)
     * 
     * @param variant A variant. For example 13:g.32890665G&gt;A (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call fetchSignalMutationsByHgvsgGETUsingGETAsync(String variant, final ApiCallback<List<SignalMutation>> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = fetchSignalMutationsByHgvsgGETUsingGETValidateBeforeCall(variant, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<List<SignalMutation>>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for fetchSignalMutationsByHugoSymbolGETUsingGET
     * @param hugoGeneSymbol Hugo Symbol. For example BRCA1 (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call fetchSignalMutationsByHugoSymbolGETUsingGETCall(String hugoGeneSymbol, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/signal/mutation";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (hugoGeneSymbol != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("hugoGeneSymbol", hugoGeneSymbol));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call fetchSignalMutationsByHugoSymbolGETUsingGETValidateBeforeCall(String hugoGeneSymbol, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        

        com.squareup.okhttp.Call call = fetchSignalMutationsByHugoSymbolGETUsingGETCall(hugoGeneSymbol, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Retrieves SignalDB mutations by Hugo Gene Symbol
     * 
     * @param hugoGeneSymbol Hugo Symbol. For example BRCA1 (optional)
     * @return List&lt;SignalMutation&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<SignalMutation> fetchSignalMutationsByHugoSymbolGETUsingGET(String hugoGeneSymbol) throws ApiException {
        ApiResponse<List<SignalMutation>> resp = fetchSignalMutationsByHugoSymbolGETUsingGETWithHttpInfo(hugoGeneSymbol);
        return resp.getData();
    }

    /**
     * Retrieves SignalDB mutations by Hugo Gene Symbol
     * 
     * @param hugoGeneSymbol Hugo Symbol. For example BRCA1 (optional)
     * @return ApiResponse&lt;List&lt;SignalMutation&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<SignalMutation>> fetchSignalMutationsByHugoSymbolGETUsingGETWithHttpInfo(String hugoGeneSymbol) throws ApiException {
        com.squareup.okhttp.Call call = fetchSignalMutationsByHugoSymbolGETUsingGETValidateBeforeCall(hugoGeneSymbol, null, null);
        Type localVarReturnType = new TypeToken<List<SignalMutation>>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Retrieves SignalDB mutations by Hugo Gene Symbol (asynchronously)
     * 
     * @param hugoGeneSymbol Hugo Symbol. For example BRCA1 (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call fetchSignalMutationsByHugoSymbolGETUsingGETAsync(String hugoGeneSymbol, final ApiCallback<List<SignalMutation>> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = fetchSignalMutationsByHugoSymbolGETUsingGETValidateBeforeCall(hugoGeneSymbol, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<List<SignalMutation>>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for fetchSignalMutationsByMutationFilterPOSTUsingPOST
     * @param mutationFilter List of Hugo Gene Symbols. For example [\&quot;TP53\&quot;, \&quot;PIK3CA\&quot;, \&quot;BRCA1\&quot;] (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call fetchSignalMutationsByMutationFilterPOSTUsingPOSTCall(SignalMutationFilter mutationFilter, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = mutationFilter;

        // create path and map variables
        String localVarPath = "/signal/mutation";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call fetchSignalMutationsByMutationFilterPOSTUsingPOSTValidateBeforeCall(SignalMutationFilter mutationFilter, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'mutationFilter' is set
        if (mutationFilter == null) {
            throw new ApiException("Missing the required parameter 'mutationFilter' when calling fetchSignalMutationsByMutationFilterPOSTUsingPOST(Async)");
        }
        

        com.squareup.okhttp.Call call = fetchSignalMutationsByMutationFilterPOSTUsingPOSTCall(mutationFilter, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Retrieves SignalDB mutations by Mutation Filter
     * 
     * @param mutationFilter List of Hugo Gene Symbols. For example [\&quot;TP53\&quot;, \&quot;PIK3CA\&quot;, \&quot;BRCA1\&quot;] (required)
     * @return List&lt;SignalMutation&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<SignalMutation> fetchSignalMutationsByMutationFilterPOSTUsingPOST(SignalMutationFilter mutationFilter) throws ApiException {
        ApiResponse<List<SignalMutation>> resp = fetchSignalMutationsByMutationFilterPOSTUsingPOSTWithHttpInfo(mutationFilter);
        return resp.getData();
    }

    /**
     * Retrieves SignalDB mutations by Mutation Filter
     * 
     * @param mutationFilter List of Hugo Gene Symbols. For example [\&quot;TP53\&quot;, \&quot;PIK3CA\&quot;, \&quot;BRCA1\&quot;] (required)
     * @return ApiResponse&lt;List&lt;SignalMutation&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<SignalMutation>> fetchSignalMutationsByMutationFilterPOSTUsingPOSTWithHttpInfo(SignalMutationFilter mutationFilter) throws ApiException {
        com.squareup.okhttp.Call call = fetchSignalMutationsByMutationFilterPOSTUsingPOSTValidateBeforeCall(mutationFilter, null, null);
        Type localVarReturnType = new TypeToken<List<SignalMutation>>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Retrieves SignalDB mutations by Mutation Filter (asynchronously)
     * 
     * @param mutationFilter List of Hugo Gene Symbols. For example [\&quot;TP53\&quot;, \&quot;PIK3CA\&quot;, \&quot;BRCA1\&quot;] (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call fetchSignalMutationsByMutationFilterPOSTUsingPOSTAsync(SignalMutationFilter mutationFilter, final ApiCallback<List<SignalMutation>> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = fetchSignalMutationsByMutationFilterPOSTUsingPOSTValidateBeforeCall(mutationFilter, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<List<SignalMutation>>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
