/*
 * Genome Nexus API
 * This page shows how to use HTTP requests to access the Genome Nexus API. There are more high level clients available in Python, R, JavaScript, TypeScript and various other languages as well as a command line client to annotate MAF and VCF. See https://docs.genomenexus.org/api.  Aside from programmatic clients there are web based tools to annotate variants, see https://docs.genomenexus.org/tools.   We currently only provide long-term support for the '/annotation' endpoint. The other endpoints might change.
 *
 * OpenAPI spec version: 2.0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package org.genome_nexus.client;

import org.genome_nexus.ApiCallback;
import org.genome_nexus.ApiClient;
import org.genome_nexus.ApiException;
import org.genome_nexus.ApiResponse;
import org.genome_nexus.Configuration;
import org.genome_nexus.Pair;
import org.genome_nexus.ProgressRequestBody;
import org.genome_nexus.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import org.genome_nexus.client.PdbHeader;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class PdbControllerApi {
    private ApiClient apiClient;

    public PdbControllerApi() {
        this(Configuration.getDefaultApiClient());
    }

    public PdbControllerApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for fetchPdbHeaderGET
     * @param pdbId PDB id, for example 1a37 (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call fetchPdbHeaderGETCall(String pdbId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/pdb/header/{pdbId}"
            .replaceAll("\\{" + "pdbId" + "\\}", apiClient.escapeString(pdbId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call fetchPdbHeaderGETValidateBeforeCall(String pdbId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'pdbId' is set
        if (pdbId == null) {
            throw new ApiException("Missing the required parameter 'pdbId' when calling fetchPdbHeaderGET(Async)");
        }
        

        com.squareup.okhttp.Call call = fetchPdbHeaderGETCall(pdbId, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Retrieves PDB header info by a PDB id
     * 
     * @param pdbId PDB id, for example 1a37 (required)
     * @return PdbHeader
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public PdbHeader fetchPdbHeaderGET(String pdbId) throws ApiException {
        ApiResponse<PdbHeader> resp = fetchPdbHeaderGETWithHttpInfo(pdbId);
        return resp.getData();
    }

    /**
     * Retrieves PDB header info by a PDB id
     * 
     * @param pdbId PDB id, for example 1a37 (required)
     * @return ApiResponse&lt;PdbHeader&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<PdbHeader> fetchPdbHeaderGETWithHttpInfo(String pdbId) throws ApiException {
        com.squareup.okhttp.Call call = fetchPdbHeaderGETValidateBeforeCall(pdbId, null, null);
        Type localVarReturnType = new TypeToken<PdbHeader>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Retrieves PDB header info by a PDB id (asynchronously)
     * 
     * @param pdbId PDB id, for example 1a37 (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call fetchPdbHeaderGETAsync(String pdbId, final ApiCallback<PdbHeader> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = fetchPdbHeaderGETValidateBeforeCall(pdbId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<PdbHeader>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for fetchPdbHeaderPOST
     * @param pdbIds List of pdb ids, for example [\&quot;1a37\&quot;,\&quot;1a4o\&quot;] (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call fetchPdbHeaderPOSTCall(List<String> pdbIds, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = pdbIds;

        // create path and map variables
        String localVarPath = "/pdb/header";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call fetchPdbHeaderPOSTValidateBeforeCall(List<String> pdbIds, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'pdbIds' is set
        if (pdbIds == null) {
            throw new ApiException("Missing the required parameter 'pdbIds' when calling fetchPdbHeaderPOST(Async)");
        }
        

        com.squareup.okhttp.Call call = fetchPdbHeaderPOSTCall(pdbIds, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Retrieves PDB header info by a PDB id
     * 
     * @param pdbIds List of pdb ids, for example [\&quot;1a37\&quot;,\&quot;1a4o\&quot;] (required)
     * @return List&lt;PdbHeader&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<PdbHeader> fetchPdbHeaderPOST(List<String> pdbIds) throws ApiException {
        ApiResponse<List<PdbHeader>> resp = fetchPdbHeaderPOSTWithHttpInfo(pdbIds);
        return resp.getData();
    }

    /**
     * Retrieves PDB header info by a PDB id
     * 
     * @param pdbIds List of pdb ids, for example [\&quot;1a37\&quot;,\&quot;1a4o\&quot;] (required)
     * @return ApiResponse&lt;List&lt;PdbHeader&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<PdbHeader>> fetchPdbHeaderPOSTWithHttpInfo(List<String> pdbIds) throws ApiException {
        com.squareup.okhttp.Call call = fetchPdbHeaderPOSTValidateBeforeCall(pdbIds, null, null);
        Type localVarReturnType = new TypeToken<List<PdbHeader>>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Retrieves PDB header info by a PDB id (asynchronously)
     * 
     * @param pdbIds List of pdb ids, for example [\&quot;1a37\&quot;,\&quot;1a4o\&quot;] (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call fetchPdbHeaderPOSTAsync(List<String> pdbIds, final ApiCallback<List<PdbHeader>> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = fetchPdbHeaderPOSTValidateBeforeCall(pdbIds, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<List<PdbHeader>>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
