/*
 * Genome Nexus API
 * Genome Nexus Variant Annotation API
 *
 * OpenAPI spec version: 2.0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package org.genome_nexus.client;

import org.genome_nexus.ApiCallback;
import org.genome_nexus.ApiClient;
import org.genome_nexus.ApiException;
import org.genome_nexus.ApiResponse;
import org.genome_nexus.Configuration;
import org.genome_nexus.Pair;
import org.genome_nexus.ProgressRequestBody;
import org.genome_nexus.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import org.genome_nexus.client.PfamDomain;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class PfamControllerApi {
    private ApiClient apiClient;

    public PfamControllerApi() {
        this(Configuration.getDefaultApiClient());
    }

    public PfamControllerApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for fetchPfamDomainsByAccessionGET
     * @param pfamAccession A PFAM domain accession ID. For example PF02827 (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call fetchPfamDomainsByAccessionGETCall(String pfamAccession, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/pfam/domain/{pfamAccession}"
            .replaceAll("\\{" + "pfamAccession" + "\\}", apiClient.escapeString(pfamAccession.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call fetchPfamDomainsByAccessionGETValidateBeforeCall(String pfamAccession, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'pfamAccession' is set
        if (pfamAccession == null) {
            throw new ApiException("Missing the required parameter 'pfamAccession' when calling fetchPfamDomainsByAccessionGET(Async)");
        }
        

        com.squareup.okhttp.Call call = fetchPfamDomainsByAccessionGETCall(pfamAccession, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Retrieves a PFAM domain by a PFAM domain ID
     * 
     * @param pfamAccession A PFAM domain accession ID. For example PF02827 (required)
     * @return PfamDomain
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public PfamDomain fetchPfamDomainsByAccessionGET(String pfamAccession) throws ApiException {
        ApiResponse<PfamDomain> resp = fetchPfamDomainsByAccessionGETWithHttpInfo(pfamAccession);
        return resp.getData();
    }

    /**
     * Retrieves a PFAM domain by a PFAM domain ID
     * 
     * @param pfamAccession A PFAM domain accession ID. For example PF02827 (required)
     * @return ApiResponse&lt;PfamDomain&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<PfamDomain> fetchPfamDomainsByAccessionGETWithHttpInfo(String pfamAccession) throws ApiException {
        com.squareup.okhttp.Call call = fetchPfamDomainsByAccessionGETValidateBeforeCall(pfamAccession, null, null);
        Type localVarReturnType = new TypeToken<PfamDomain>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Retrieves a PFAM domain by a PFAM domain ID (asynchronously)
     * 
     * @param pfamAccession A PFAM domain accession ID. For example PF02827 (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call fetchPfamDomainsByAccessionGETAsync(String pfamAccession, final ApiCallback<PfamDomain> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = fetchPfamDomainsByAccessionGETValidateBeforeCall(pfamAccession, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<PfamDomain>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for fetchPfamDomainsByPfamAccessionPOST
     * @param pfamAccessions List of PFAM domain accession IDs. For example [\&quot;PF02827\&quot;,\&quot;PF00093\&quot;,\&quot;PF15276\&quot;] (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call fetchPfamDomainsByPfamAccessionPOSTCall(List<String> pfamAccessions, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = pfamAccessions;

        // create path and map variables
        String localVarPath = "/pfam/domain";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call fetchPfamDomainsByPfamAccessionPOSTValidateBeforeCall(List<String> pfamAccessions, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'pfamAccessions' is set
        if (pfamAccessions == null) {
            throw new ApiException("Missing the required parameter 'pfamAccessions' when calling fetchPfamDomainsByPfamAccessionPOST(Async)");
        }
        

        com.squareup.okhttp.Call call = fetchPfamDomainsByPfamAccessionPOSTCall(pfamAccessions, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Retrieves PFAM domains by PFAM domain accession IDs
     * 
     * @param pfamAccessions List of PFAM domain accession IDs. For example [\&quot;PF02827\&quot;,\&quot;PF00093\&quot;,\&quot;PF15276\&quot;] (required)
     * @return List&lt;PfamDomain&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<PfamDomain> fetchPfamDomainsByPfamAccessionPOST(List<String> pfamAccessions) throws ApiException {
        ApiResponse<List<PfamDomain>> resp = fetchPfamDomainsByPfamAccessionPOSTWithHttpInfo(pfamAccessions);
        return resp.getData();
    }

    /**
     * Retrieves PFAM domains by PFAM domain accession IDs
     * 
     * @param pfamAccessions List of PFAM domain accession IDs. For example [\&quot;PF02827\&quot;,\&quot;PF00093\&quot;,\&quot;PF15276\&quot;] (required)
     * @return ApiResponse&lt;List&lt;PfamDomain&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<PfamDomain>> fetchPfamDomainsByPfamAccessionPOSTWithHttpInfo(List<String> pfamAccessions) throws ApiException {
        com.squareup.okhttp.Call call = fetchPfamDomainsByPfamAccessionPOSTValidateBeforeCall(pfamAccessions, null, null);
        Type localVarReturnType = new TypeToken<List<PfamDomain>>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Retrieves PFAM domains by PFAM domain accession IDs (asynchronously)
     * 
     * @param pfamAccessions List of PFAM domain accession IDs. For example [\&quot;PF02827\&quot;,\&quot;PF00093\&quot;,\&quot;PF15276\&quot;] (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call fetchPfamDomainsByPfamAccessionPOSTAsync(List<String> pfamAccessions, final ApiCallback<List<PfamDomain>> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = fetchPfamDomainsByPfamAccessionPOSTValidateBeforeCall(pfamAccessions, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<List<PfamDomain>>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
